.profileCard {
    width: 300px;
    height: 500px;
    background-color: rgb(107, 104, 104);
    color: #FFF;
    border-radius: 5px;
    margin: 10px;
    padding: 0px 0px 0px 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
}
.userName {
    font-size: 35px;
}
.userEmail {
    font-size: 30px;
}
.editBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 15px;
    cursor: pointer;
}
.profileEditInputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.editInput {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 20px;
}